
 <!--Start footer bottom area-->
        <section class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="footer-bottom-content flex-box-two">
                            <div class="copyright-text">
                                <p>
                                     <a href="{{path('index')}}">
										<img src="{{asset('new/images/resources/mdp.png')}}" width="75px" alt=" #">
									</a>
                                </p>
                            </div>

                            
                            <div class="footer-social-links float-right">
                                <span>Retrouvez- nous sur nos réseaux sociaux</span>
                                <ul class="sociallinks-style-one">
                                    <li class="wow slideInUp" data-wow-delay="0ms" data-wow-duration="1200ms">
                                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="wow slideInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="wow slideInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                                        <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="wow slideInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                           
                            <div class="copyright-text text-center">
                            <p style="color:#000;"> Developpé par <a href="http://www.zoetechgroup.africa" target="_blank">ZOETECHGROUP</a></p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

             
            </div>
        </section>
        <!--End footer bottom area-->
       

    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
