{% extends "base.html.twig" %}


{% block title %}
   Marché Des Plans - FAQ?
                                   
{% endblock %}

{% block body %}

  
<!--Start breadcrumb area-->
	<section class="breadcrumb-area style2 " style="background-image: url({{asset('new/images/slides/3.jpg')}});">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="inner-content-box clearfix">
						<div class="title">
							{# <span style="color:#fff;">Foire Aux Questions des Clients</span> #}
                                    <h1>Comment ça marche</h1>
						</div>
					
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End breadcrumb area-->

        <!--Start faq area-->
        <section class="faq-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="faq-content-box">
                            <div class="accordion-box">
                                <!--Start single accordion box-->
                                <div class="accordion accordion-block">
                                    <div class="accord-btn">
                                        <h4>Quand ai-je besoin d'un architecte ?</h4>
                                    </div>
                                    <div class="accord-content">
                                        <p>Quand vous voulez avoir plus d'informations sur le plan qui vous intéresse ou tout simplement
                                        demander au conseil auprès d'un spécialiste et solliciter ses services.</p>
                                    </div>
                                </div>
                                <!--End single accordion box-->
                                <!--Start single accordion box-->
                                <div class="accordion accordion-block">
                                    <div class="accord-btn active">
                                        <h4>Pourquoi ai-je besoin d'un architecte d'intérieur ?</h4>
                                    </div>
                                    <div class="accord-content collapsed">
                                        <p>Avoir une maison de rêve, ne se construit pas seulement de l'extérieur, mais aussi de l'intérieur.
                                            Il vous faut faire appel à nos spécialistes qui se chargeront de vous concevoir la déco parfaite.
                                        </p>
                                    </div>
                                </div>
                                <!--End single accordion box-->
                                <!--Start single accordion box-->
                                <div class="accordion accordion-block">
                                    <div class="accord-btn">
                                        <h4>Que dois-je savoir lors de ma première visite sur le site ?</h4>
                                    </div>
                                    <div class="accord-content">
                                        <p>Le site est conçue pour permettre à tout le monde d'acheter les plans architecturaux à des prix
                                        très abordable pour la conception de leurs maisons, edifices, et d'autres plans 
                                        .</p>
                                    </div>
                                </div>
                                <!--End single accordion box-->
                                <!--Start single accordion box-->
                                <div class="accordion accordion-block">
                                    <div class="accord-btn">
                                        <h4>Combien coûtera mon projet d'achat de plan sur le site ?</h4>
                                    </div>
                                    <div class="accord-content">
                                        <p>En fonction du plan de votre choix et de vos attentes, le plan est à un prix abordable.</p>
                                    </div>
                                </div>
                                <!--End single accordion box-->
                                <!--Start single accordion box-->
                                <div class="accordion accordion-block">
                                    <div class="accord-btn">
                                        <h4>Un plan? Oui mais je veux juste le plan d'une partie de la maison</h4>
                                    </div>
                                    <div class="accord-content">
                                        <p>Rassurez-vous. Nous avons pensé à vous dans ce genre de situation. 
                                        Vous avez la possibilité d'acheter uniquement que la partie du plan que vous voulez
                                        sur ce dernier et cet à un prix abordable.</p>
                                    </div>
                                </div>
                                <!--End single accordion box-->
                                <!--Start single accordion box-->
                                <div class="accordion accordion-block">
                                    <div class="accord-btn">
                                        <h4>Combien de temps faudra-t-il pour concevoir et construire mon projet ?</h4>
                                    </div>
                                    <div class="accord-content">
                                        <p>Prenez contact avec nous pour avoir l'avis de nos spécialistes à des prix très abordables.</p>
                                    </div>
                                </div>
                                <!--End single accordion box-->
                                <!--Start single accordion box-->
                                <div class="accordion accordion-block">
                                    <div class="accord-btn">
                                        <h4>Comment payer le plan de mon choix</h4>
                                    </div>
                                    <div class="accord-content">
                                        <p>Pour vous faciliter la vie, nous avons mis en place, un système de paiement 
                                        mobile par PayGate(TMoney ou Flooz) ou par PayZy en l'installant l'application.</p>
                                    </div>
                                </div>
                                <!--End single accordion box-->
                                 <!--Start single accordion box-->
                                <div class="accordion accordion-block">
                                    <div class="accord-btn">
                                        <h4>Comment avoir accès à mon plan le plan après avoir payé</h4>
                                    </div>
                                    <div class="accord-content">
                                        <p>Nous vous prions de vous rendre sur votre page "Mes achats" où vous
                                        trouverez tous les plans que vous avez achetés, téléchargeables en version Pdf</p>
                                    </div>
                                </div>
                                <!--End single accordion box-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End faq area-->


{% endblock %}
