{% extends 'base.html.twig' %}

{% block title %}Payment Success!{% endblock %}

{% block body %}

    {{ parent() }}

    <h1>Thanks for your order!</h1>
    <p>
        We appreciate your business!
        If you have any questions, please email
        <a href="mailto:orders@example.com">orders@example.com</a>.
    </p>

    {# <form action="" method="POST">
    <input  class="form-control" id="id_mini"  name="id_mini"    value="{{ miniplan.id }}"   required>
    <input  class="form-control" id="id_plan"  name="id_plan"    value="{{ plan.id }}"   required>
</form> #}

<div>

</div>
{% endblock %}
